* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("pexels-felixmittermeier-1146134.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 800px;
}

.container {
  display: flex;
  width: 80%;
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.left {
  width: 35%;
  padding: 20px;
  border-right: 1px solid #e6e6e6;
  background-color: #ede7f6;;;
}

.right {
  width: 65%;
  padding: 20px;
  background-color:#d1c4e9;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.person img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.person:hover {
  background-color:#d1c4e9;
}

.bubble {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%; 
  min-width: 50px; 
  width: fit-content; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

/* Burbuja de mensaje del emisor (celeste) */
.bubble.me {
  align-self: flex-end;
  background-color: #00b0ff;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-left: auto; 
}

/* Burbuja de mensaje del receptor (blanco) */
.bubble.you {
  align-self: flex-start; 
  background-color: #ffffff;
  color: #1a1a1a;
  display: flex;
  justify-content: flex-start; 
  margin-right: auto; 
}


.chat-messages {
  flex: 1;
  overflow-y: auto;
  max-height: 450px;
}

#chatInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #512e5f;
  border-radius: 5px;
}

#sendButton {
  width: 100%;
  padding: 10px;
  background-color: #7e57c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3px;
}

#sendButton:hover {
  background-color: #9575cd;
}

.person.active {
  background-color: #b39ddb; 
}

.delete-chat-button{
  display: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #7e57c2;
  color: #fff;
  border: none;
  margin: 10px 0;
  align-self: flex-start; 
}

.name{
  color:#472f70;
}

/* Animaciones */
@keyframes slideFromLeft {
  0% { margin-left: -200px; opacity: 0; }
  100% { margin-left: 0; opacity: 1; }
}

@keyframes slideFromRight {
  0% { margin-right: -200px; opacity: 0; }
  100% { margin-right: 0; opacity: 1; }
}

